// ---------------------------------------------
// ======---------------------------------======
//  Footer
// ======---------------------------------======
// ---------------------------------------------
.site-footer {
  display: grid;
  place-content: center;
  padding: 2rem;
  background: #1e1e1e;
  text-align: center;

  img {
    width: 3rem;

    display: inline-block;
    vertical-align: middle;

    margin: 0 0.7rem;
  }
}
