// ---------------------------------------------
// ======---------------------------------======
//  Footer
// ======---------------------------------======
// ---------------------------------------------
.site-footer {
  display: grid;
  place-content: center;
  padding: 2rem;
  background: #1e1e1e;
  text-align: center;
}

.site-footer img {
  max-width: 200px;
}
