// ---------------------------------------------
// ======---------------------------------======
//  Game filtering
// ======---------------------------------======
// ---------------------------------------------
.game-filters {
  display: flex;
  gap: 4rem;

  margin-bottom: 3rem;
}

.game-filters .form {
  grid-row: 1;
  display: grid;
  place-content: start;
  gap: 1rem;
}

.game-filters label {
  font-family: var(--ff-main);
  font-size: var(--fs-lg);
  font-weight: 700;
  line-height: 1.5;
}

.game-filters select {
  padding: 0.75rem;

  border: 2px solid var(--c-main);
  background: var(--c-bg);
  border-radius: 0.7rem;

  color: var(--c-light);
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  font-weight: 700;
  line-height: 1.5;
}

.game-filters option {
  color: var(--c-light);
  background: var(--c-bg);
}

.game-filters option.bad {
  color: var(--c-r-bad);
}

.game-filters option.meh {
  color: var(--c-r-meh);
}

.game-filters option.good {
  color: var(--c-r-good);
}

.game-filters option.great {
  color: var(--c-r-great);
}

.game-filters option.goat {
  color: var(--c-r-goat);
}

.game-filters option:hover,
.game-filters option:focus {
  background: var(--c-main-dark);
}

.game-count {
  grid-row: 2;

  margin: 4rem 0 2rem;

  color: var(--c-bg-light);
}
