// ====---------------====
// Variables
// ====---------------====

:root {
  // ====---------------====
  // Colors
  // ====---------------====
  --clr-light: #e9f2f9;
  --clr-main: #1fcceb;
  --clr-alt: #3476ac;
  --clr-main-dark: #1a2436;
  --clr-bg-light: #9cc4e4;
  --clr-bg: #0c1525;

  --clr-r-bad: hsla(350, 59%, 71%, 1);
  --clr-r-meh: hsla(11, 59%, 83%, 1);
  --clr-r-good: hsla(165, 84%, 66%, 1);
  --clr-r-great: hsla(98, 80%, 70%, 1);
  --clr-r-goat: hsla(271, 73%, 72%, 1);

  --clr-ni: hsla(355, 85%, 32%, 1);
  --clr-ps: hsla(208, 89%, 36%, 1);
  --clr-xb: hsla(89, 62%, 31.5%, 1);
  --clr-pc: hsla(270, 63%, 36%, 1);
  --clr-mo: hsla(298, 53%, 55%, 1);

  // ====---------------====
  // Type
  // ====---------------====
  --ff-base: 'Rubik', sans-serif;
  --ff-accent: 'Fugaz One', cursive;
  --fs-base: 1.8rem;
  --fs-lg: 2.2rem;

  // ====---------------====
  // Spacing
  // ====---------------====
  --sp-sm: 1rem;
  --sp-md: 2rem;
  --sp-lg: 3rem;
  --sp-para: calc(var(--sp-sm) * 1.5);

  // ====---------------====
  // Widths
  // ====---------------====
  --mq-small: 650px;
  --mq-medium: 800px;
  --mq-large: 1250px;
  --mq-super: 1600px;
  --mq-ultra: 1900px;
  --w-sm: 45rem;
  --w-md: 65rem;
  --w-lg: 75rem;

  // ====---------------====
  // Speeds
  // ====---------------====
  --speed-main: 0.2s;
}
