/* ====---------------====
	Colors
=======---------------= */
:root {
  --clr-light: #e9f2f9;
  --clr-main: #1fcceb;
  --clr-alt: #3476ac;
  --clr-main-dark: #1a2436;
  --clr-bg-light: #9cc4e4;
  --clr-bg: #0c1525;

  --clr-r-bad: hsla(350, 59%, 71%, 1);
  --clr-r-meh: hsla(11, 59%, 83%, 1);
  --clr-r-good: hsla(165, 84%, 66%, 1);
  --clr-r-great: hsla(98, 80%, 70%, 1);
  --clr-r-goat: hsla(271, 73%, 72%, 1);

  --clr-ni:hsla(355, 85%, 32%, 1);
  --clr-ps: hsla(208, 89%, 36%, 1);
  --clr-xb: hsla(89, 62%, 31.5%, 1);
  --clr-pc: hsla(270, 63%, 36%, 1);
  --clr-mo: hsla(298, 53%, 55%, 1);

  --ff-base: 'Roboto', sans-serif;
  --ff-accent: 'Roboto condensed', sans-serif;
  --fs-base: 1.8rem;
  --fs-lg: 2.2rem;

  --mq-small: 650px;
  --mq-medium: 800px;
  --mq-large: 1250px;
  --mq-super: 1600px;
  --mq-ultra: 1900px;
}

/* ====---------------====
	Rests
=======---------------= */

/* ====---------------====
	Header
=======---------------= */